# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.kiro/
# Build output
dist/
build/*.icns
build/*.ico
build/*.iconset
build/*.dmg
build/*.exe

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# VSCode
.vscode/

# Mac
*.DS_Store

# Windows
*.lnk

# Others
.env
.idea/
*.sublime-workspace
*.sublime-project 